<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LANGUAGE</title>
    <link rel="stylesheet" href="/styles/style.css"> 
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/81/ef/2e/81ef2efa23eef41444dd0e0ab2cd556c.jpg" type="image/x-icon">
</head> 
<body>  
  <div> 
    <header> 
      <h1>ENGLISH</h1>
        <nav> 
          <ul> 
            <li><a href="../view/index.html">HOME</a></li>
            <li><a href="../pages/">IELTS</a></li>
            <li><a href="../pages/">CEFR</a></li>
            <li><a href="../pages/contact.html">CONTACT</a></li>
            <li><a href="../pages/registration/index.html">REGISTER</a></li>         
         </ul>
      </nav>
    </header>
  </div>
    <img src="https://img.razrisyika.ru/kart/30/1200/117441-na-angliyskom-5.jpg"  class="home_picture" >    
</body>
</html>







